.header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2vmax;
}

/* Sección imagen */
.image {
    display: flex;
    justify-content: end;
    position: relative;
    height: 35vmax;

}

.image img { /* Aplicando estilos a todas las imágenes dentro de .image */
    width: 33vmax;
    height: 100%;
    margin: 4vmax 2vmax 4vmax 0;
    object-fit: contain; /* Prueba con contain en vez de cover */
    opacity: 0;
    position: absolute; /* Asegura que todas las imágenes se superpongan */
    transition: opacity 1.2s ease-in-out;
}

.image img.active {
    opacity: 1;
}

/* Sección textos */
.textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 8vmax;
}

.principal {
    font-size: 4vmax;
    font-family: "Bebas Neue", system-ui;
    line-height: 1;
}

.tickets {
    color: #FE7247;
    font-size: 6vmax;
}

.subtitle {
    color: #F0E541;
    font-family: "Bebas Neue", system-ui;
    font-size: 2.5vmax;
}



/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++/ */

@media screen and (max-width:2220px) {


}


/* / ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++/ */



@media screen and (max-width:1400px) {


}



/* / ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++/ */


@media screen and (max-width:1200px) {

  

}



/* / ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++/ */


@media screen and (max-width:992px) {

  
}


/* / ++++++++++++++++++++++++ media query |  pantalla galaxy flod2   | ++++++++++++++++++++++++++++++++++/ */



@media screen and (max-width:882px) {

  
  
}





/* / ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++/ */



@media screen and (max-width:768px) {

   

}

/* / ++++++++++++++++++++++++ media query | pantalla ipad pro |   ++++++++++++++++++++++++++++++++++/ */



@media screen and (max-width:581px) {
    .image img { 
        padding-left: 1vmax;
    
    }
}



/* / ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++/ */

@media screen and (max-width:576px) {

   /* Sección imagen */
   .image {
    justify-content: center; 
    height: 35vmax;

    }

    .image img { 
        width: 35vmax;
        margin: 8vmax 0 4vmax 0;
        padding-left: 0;
    
    }

    /* Sección textos */
    .textos {
        justify-content: center;
        align-items: center;
        margin-top: 5vmax;
        text-align: center;
    }

    .principal {
        font-size: 3vmax;
        font-family: "Bebas Neue", system-ui;
    }

    .tickets {
        font-size: 6vmax;
    }

    .subtitle {
        font-size: 2.5vmax;
    }


}

/* especial */

@media screen and (max-width:500px) {


}

/* medida extra a 400 */

@media screen and (max-width:400px) {


    
  

}


/* / ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/ 

@media screen and (max-width:320px) {

  

}

