.contenedorError {
    width: 100%;
    margin: 5vmax auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6vmax 0 2vmax 0;
}

.number{
    color: white;
    font-size: 2vmax;
    text-align: center;
    color: gray;
    font-family: "Bebas Neue", system-ui;
}

.tituloError{
    color: white;
    font-size: 1.2vmax;
    text-align: center;
    color: gray;
    font-family: "Bebas Neue", system-ui;
}

.logoError {
    width: 15%;
}

.volverAInicio {
    text-decoration: none;
    font-size: 1.5vmax;
    text-align: center;
    color: #FE7247;
    font-family: "Bebas Neue", system-ui; 
}

.volverAInicio:hover {
    color: #5b382e;
    
}