.backCompra{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vmax;
}

.guiaDeCompraContainer {
    background-color: #000000;
    text-align: center;
    padding-bottom: 4vmax;
    width: 60%;
    
}

/* h2 */
.tituloInformacionGuia {
    padding: 1.5vmax;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 1.5vmax;
    color: #e2dc87;
}


.tituloInformacionGuia a {
    color: #e2dc87; /* Mismo color que el título */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    margin: 0 10px; /* Espaciado entre los enlaces */
    transition: color 0.3s ease;
    
}

.tituloInformacionGuia a:hover {
    color: #FE7247; /* Color al pasar el mouse por encima */
    text-decoration: underline; /* Añadir subrayado al hacer hover */
}

/* h3 */
.tituloInformacionAdministrativa {
    padding-top: 2vmax;
    padding-bottom: 1.4vmax;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 2vmax;
    font-weight: bold;
    color: rgb(240, 230, 230);

    /* subrayado, espaciado y scroll por id */
    /* text-decoration:underline 1.6px;
    text-underline-offset: 4px; */
    scroll-margin-top: 100px;
}


.guiaDeCompraContainer p {
    font-family: 'Clash Grotesk', sans-serif;
    color: rgb(240, 230, 230);
    font-size: 1.4vmax;
    text-align: start;
    font-weight: 400;
}

.iconGuia {
    font-size: 1vmax;
    margin-right: 1vmax;
}



/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    

    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {
    
   .backCompra {
        margin-top: 8vmax;  
    }    

    .guiaDeCompraContainer {
            
        width: 80%; 
    }

    
    /* h2 */
    .tituloInformacionGuia {
        font-size: 2.6vmax;
    }

    .tituloInformacionAdministrativa {
        font-size: 2vmax;
    }
    
}




/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

    
    .guiaDeCompraContainer {
        width: 80%;
    }
    
    /* h2 */
    .tituloInformacionGuia {
        font-size: 3.6vmax;
        display: flex;
        flex-flow: column wrap;
    }

    .tituloInformacionAdministrativa {
        font-size: 2.4vmax;
    }

    
    .guiaDeCompraContainer p {
        font-size: 2.2vmax;
    }

}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {
    .backCompra {
        margin-top: 12vmax;  
    }
   
    .guiaDeCompraContainer {
        width: 90%;
    }
    
    /* h2 */
    .tituloInformacionGuia {
        font-size: 3.2vmax;
        
    }

    .tituloInformacionAdministrativa {
        font-size: 2.8vmax;
    }

    
    .guiaDeCompraContainer p {
        font-size: 2.6vmax;
    }


}

/* medida especial hasta 380 */

@media screen and (max-width:380px) {

    

    .tituloInformacionGuia a {
        padding: 1vmax;
    }
    
    .tituloInformacionAdministrativa {
        font-size: 2.6vmax;
    }

    
    .guiaDeCompraContainer p {
        font-size: 2.2vmax;
    }


}



/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:320px) {

    
    .tituloInformacionAdministrativa {
        font-size: 2.4vmax;
    }

    
    .guiaDeCompraContainer p {
        font-size: 2vmax;
    }
   
}