.botonComprarEntrada {
    margin-top: 3vmax;
    background-color: #fc5623;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width:18vmax;
}

.botonComprarEntrada:hover {
    background-color: #FE7247;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    width:18vmax;
}