#login-form {
    width: 55%;
    margin: 10vmax auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vmax 1vmax;
    gap: 2vmax;
    border-radius: 10px;
    border: #f0e44166 0.5px solid;
    

    .loginTitle {
        color: white;
        font-family: "Bebas Neue", system-ui;
        font-size: 3vmax;
        text-align: center;

        .loginColor {
            color: #F0E541;
        }
    }

    .loginInput {
        width: 30vmax;
        height: 3vmax;
        padding: 0.5vmax;
        border-radius: 5px;
    }

    .loginButton {
        margin-top: 3vmax;
        background-color: #fc5623;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        width:18vmax;
    }

    .loginButton:hover {
        background-color: #ff7045;
    }

    .errorMessage {
        color: rgb(255, 39, 39);
        margin-bottom: 0;
    }
  
}












/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++/ */

@media screen and (max-width:2220px) {


}


/* / ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++/ */



@media screen and (max-width:1400px) {


    #login-form {
        width: 60%;
        
        .loginTitle {
            font-size: 4vmax;
    
        }
    
        .loginInput {
            width: 40vmax;
            height: 4.5vmax;
            padding: 0.5vmax;
            border-radius: 5px;
        }
    
        .loginButton {
            margin-top: 3vmax;
            padding: 10px 20px;
            width:20vmax;
        }
    
    
        .errorMessage {
            color: rgb(255, 39, 39);
            margin-bottom: 0;
        }
      
    }
    
}



/* / ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++/ */


@media screen and (max-width:1200px) {

   
    

}



/* / ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++/ */


@media screen and (max-width:992px) {

  
}


/* / ++++++++++++++++++++++++ media query |  pantalla galaxy flod2   | ++++++++++++++++++++++++++++++++++/ */



@media screen and (max-width:835px) {

    #login-form {
        width: 70%;
        
        
        .loginTitle {
            font-size: 3.5vmax;
    
        }
    
    
    }
    
  
}


/* / ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++/ */



@media screen and (max-width:769px) {

   
    #login-form {
        width: 70%;
        
        .loginInput {
            width: 45vmax;
            height: 5.2vmax;
            font-size: 2vmax;
        }

        .loginButton {
            margin-top: 3vmax;
            padding: 10px 20px;
            width:20vmax;
            font-size: 2vmax;
        }
    
    
    }
    

}

/* / ++++++++++++++++++++++++ media query | pantalla ipad pro |   ++++++++++++++++++++++++++++++++++/ */



@media screen and (max-width:581px) {
    #login-form {
        width: 90%;
        
        .loginInput {
            width: 45vmax;
            height: 5vmax;
            font-size: 2vmax;
        }

        .loginButton {
            margin-top: 3vmax;
            padding: 10px 20px;
            width:20vmax;
            font-size: 2vmax;
        }
    
    
    }
    
}



/* / ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++/ */

@media screen and (max-width:576px) {


    #login-form {
        
        .loginInput {
            
            height: 5.3vmax;
            
        }

        
    
    }
    
}

/* ++++++++++++++++++++++++++ especial +++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:481px) {
 
    #login-form {
       
        width: 93%;
        
        .loginInput {
            width: 38vmax;
            height: 5vmax;
            
        }

       
    
    
    }
   
}


/* ++++++++++++++++++++++++++++ medida extra a 400  +++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:400px) {


    #login-form {
       
        
        .loginInput {
            width: 40vmax;
            height: 5.5vmax;
            
        }

       
    
    
    }
   
  

}


/* / ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/ 

@media screen and (max-width:320px) {

  

}

