.Controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmax;
  width: 15vmax;
  margin-bottom: 2vmax;

  button {
    padding: 0.3vmax 1vmax 0.7vmax 1vmax;
    background-color:#FE7247 ;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    border: none;
    align-self: center;
    margin: 2vmax;
    font-size: 1.5vmax;
    cursor: pointer;

    &:hover {
      opacity: .8;
    }

    &:active {
      opacity: .5;
    }
  }
  
  .Number {
    color: rgb(255, 255, 255);
  }
      
}


/* ++++++++++++++++++++++++ media query  | pantalla movile varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:500px) {

    
    .ButtonContador {
        padding: 0.4vmax 2.3vmax 1vmax 2.3vmax;
        background-color:#FE7247 ;
        border-radius: 5px;
        color: rgb(0, 0, 0);
        border: none;
        margin: 0 3vmax;
        font-weight: bold;
        font-size: 3vmax;
    }

    .ButtonContadorM {
        padding: 0.4vmax 2.4vmax 1vmax 2.4vmax;
        background-color:#FE7247 ;
        border-radius: 5px;
        color: rgb(0, 0, 0);
        border: none;
        margin: 0 3vmax;
        font-weight: bold;
        font-size: 3vmax;
        
    }
  
    
}
