.containerForm {
    width: 55%;
    margin: 6vmax auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vmax 1vmax;
    gap: 2vmax;
    border-radius: 10px;
    border: #f0e44166 0.5px solid;
    

    .loginTitle {
      color: white;
      font-family: "Bebas Neue", system-ui;
      font-size: 3vmax;
      letter-spacing: 2px;
      text-align: center;

      .loginColor {
        color: #F0E541;
      }
    }

    .loginInput {
      width: 30vmax;
      height: 3vmax;
      padding: 0.5vmax;
      border-radius: 5px;
    }

    .loginButton {
      margin-top: 3vmax;
      background-color: #fc5623;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      cursor: pointer;
      text-align: center;
      width:18vmax;
    }

    .loginButton:hover {
      background-color: #ff7045;
    }

    .errorMessage {
      color: rgb(255, 39, 39);
      margin-bottom: 0;
    }
  
}



/* / ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++/ */

@media screen and (max-width:1400px) {


  .containerForm {
    width: 60%;
      
    .loginTitle {
      font-size: 4vmax;
    }

    .loginInput {
      width: 40vmax;
      height: 4.5vmax;
    }

    .loginButton {
      width:20vmax;
    }
    
  }
    
}


/* / ++++++++++++++++++++++++ media query |  pantalla galaxy flod2   | ++++++++++++++++++++++++++++++++++/ */

@media screen and (max-width:835px) {

  .containerForm {
    width: 70%;  
      
    .loginTitle {
      font-size: 3.5vmax;
    }
  
  }    
  
}


/* / ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++/ */



@media screen and (max-width:769px) {

  .containerForm {
            
    .loginInput {
      width: 90%;
      height: 5.2vmax;
      font-size: 2vmax;
    }

    .loginButton {
      font-size: 2vmax;
    }
  
  }
    
}

/* / ++++++++++++++++++++++++ media query | pantalla ipad pro |   ++++++++++++++++++++++++++++++++++/ */



@media screen and (max-width:581px) {
  .containerForm {
    width: 90%;
    
    .loginInput {
      height: 5.5vmax;    
    }

  }
    
}


/* ++++++++++++++++++++++++++ especial +++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:481px) {
 
  .containerForm {
    width: 93%;
      
  }
   
}


