.card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: end;
    margin: 16px 16px 35px 16px;
    width: 88vmax;
    height: 43vmax;
    text-align: center;
    background-color: #f9f9f900;
    /* border-radius: 1vmax; */
    overflow: hidden;
    
}

.datosContainer {
    margin-right: 8%;
    margin-top: 6%;
    margin: black solid 2px;
}

.texto {
    color: #000000;
    font-size: 2.8vmax;
    font-family: "Bebas Neue", system-ui; 
    font-weight: bold;
}

.fecha {
    font-size: 3vmax;
}

.lugar {
    font-size: 2.2vmax;
}


/* Estilos del botón */
.buyButton {
    background-color: #f01b23;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 22%;
    text-decoration: none;
    margin-bottom: 6vmax;
    font-family: "Bebas Neue", system-ui;
    font-size: 1.5vmax;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-right: 3%;

   /* para anular boton */

    /* pointer-events: none;  
    cursor: default; */
    
}
  
.buyButton:hover {
    background-color: #F0E541;
    color: #f01b23;;
}







/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {
    
    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {
    

    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {
    
    .card {
        width: 65vmax;
        height: 30vmax;
       
        
    }

    .texto {
        text-align: end;
    }

    .fecha {
        font-size:2.2vmax;
    }
    
    .lugar {
        font-size: 1.8vmax;
    }
    
    
}

@media screen and (max-width:801px) {
    
    .card {   
        width: 62vmax;
        height: 27vmax;
       
        
    }

    .texto {
        text-align: end;
    }

    .fecha {
        font-size:2.2vmax;
       
    }
    
    .lugar {
        font-size: 1.8vmax;
       
    }
    
    
}





/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

    .card {

        flex-flow: column nowrap;
        justify-content: end;
        align-items:center;
        
        width: 65vmax; 
        height: 57vmax; 
    }

    .datosContainer {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 2vmax;
    }
    
    .texto {
        color: #000000;
        font-size: 2.9vmax;
        font-family: "Bebas Neue", system-ui; 
        font-weight: bold;
        margin-right: 1vmax;
        margin-bottom: 0;
    }
    
   

    .renglon {
        display: flex;
        flex-direction: row;
        align-items: end;   
        text-align: center;

    } 


    .lugar {
        font-size: 3.5vmax;
        text-align: center;
    }
    
    
   
    /* Estilos del botón */
    .buyButton {
        background-color: #f01b23;
        color: white;
        border: none;
        padding: 10px 14px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        width: 42%;
        text-decoration: none;
        margin-bottom: 5vmax;
        font-family: "Bebas Neue", system-ui;
        font-size: 2vmax;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        margin-right: 3%;
        
    }

}



/* ++++++++++++++++++++++++ media query |  pantalla ipad pro 11 | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:600px) {
    .card {
        width: 58vmax; 
        height: 51vmax; 
    }

    .texto {
       
        font-size: 2.7vmax;
       
    }

    .lugar {
        font-size: 3.2vmax;
        
    }

    /* Estilos del botón */
    .buyButton {
        margin-bottom: 4vmax;
        
    }
    

}
/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {
    .card {
        width: 55vmax; 
        height: 48vmax; 
    }

    .texto {
       
        font-size: 2.5vmax;
       
    }

    .lugar {
        font-size: 3.2vmax;
        
    }

    /* Estilos del botón */
    .buyButton {
        margin-bottom: 3vmax;
        padding: 8px 12px;
        
    }

}

/* ++++++++++++++++++++++++ media query  |fire hd 10 |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:500px) {

    .card {
        width: 48vmax; 
        height: 41vmax; 
    }

    .texto {
       
        font-size: 2.3vmax;
       
    }

    .lugar {
        font-size: 3vmax;
        
    }

    /* Estilos del botón */
    .buyButton {
        margin-bottom: 3vmax;
        width: 48%;
    }


   
}

/* ++++++++++++++++++++++++ media query  | pantalla pixel 6 pro|   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:480px) {

    .card {
        width: 45vmax; 
        height: 38vmax; 
    }

    .datosContainer {
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 2vmax;
    }

    .texto {    
        font-size: 2.2vmax;   
    }

    .lugar {
        font-size: 2.4vmax;
        
    }

    /* Estilos del botón */
    .buyButton {
        margin-bottom: 2.6vmax;
        padding: 6px 12px;
        font-size: 1.7vmax;
    }

   
}

/* ++++++++++++++++++++++++ media query  | pantalla fire hd 10 |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:469px) {
    .card {
        width: 48vmax; 
        height: 41vmax; 
    }

    .texto {
       
        font-size: 2.3vmax;
       
    }

    .lugar {
        font-size: 2.7vmax;
        
    }

    /* Estilos del botón */
    .buyButton {
        margin-bottom: 2.7vmax;
        
    }
}

/* ++++++++++++++++++++++++ media query  | pantalla movil varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:431px) {
    .card {
        width: 42vmax; 
        height: 36vmax; 
    }

    .texto {
       
        font-size: 1.8vmax;
       
    }

    .lugar {
        font-size: 2.7vmax;
        
    }

    /* Estilos del botón */
    .buyButton {
        margin-bottom: 2.1vmax;
        padding: 6px 12px;
    }
}

/* ++++++++++++++++++++++++ media query  | pantalla movil varios |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:400px) {
    .card {
        width: 43vmax; 
        height: 38vmax; 
    }

    .texto {   
        font-size: 2.1vmax;
       
    }

    .lugar {
        font-size: 2.7vmax;
        
    }

    /* Estilos del botón */
    .buyButton {
        margin-bottom: 2.7vmax;
        padding: 6px 12px;
    }
}


/* ++++++++++++++++++++++++ media query  | pantalla varios small |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:361px) {

    .card {
        width: 41vmax; 
        height: 34vmax; 
    }

    .texto {
       
        font-size: 1.8vmax;
       
    }

    .lugar {
        font-size: 2.1vmax;
        
    }

    /* Estilos del botón */
    .buyButton {
        margin-bottom: 1.4vmax;
        padding: 6px 12px;
    }
   
}
/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:321px) {
    .card {
        width: 45vmax; 
        height: 40vmax; 
    }

    .texto {
       
        font-size: 2.1vmax;
       
    }

    .lugar {
        font-size: 2.8vmax;
        
    }

    /* Estilos del botón */
    .buyButton {
        margin-bottom:2vmax;
        padding: 6px 12px;
    }
}